/* Home page mobile version CSS */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

/* Header Css Mobile */

.header-container {
  display: none;
}

.head-nav {
  display: none;
}

.head-container {
  width: 100%;
  height: 80px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background-color: rgb(211, 211, 211, 0.3); */
  background-color: rgb(39, 42, 49, 0.9);
}

.ham-btn {
  cursor: pointer;
  width: 20px;

  /* color: #272a31; */
  color: #d3d3d3;
  border: none;
  background-color: rgb(211, 211, 211, 0.1);
}

.head-logo-pic {
  display: none;
}

.dropdown-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 0;
  height: 0;
  background: #272a31;
  backdrop-filter: blur(8px);
  mix-blend-mode: multiply;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  border-bottom-right-radius: 100%;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
}

.dropdown-container.open-bar {
  width: 100%;
  height: 100vh;
  border-bottom-right-radius: 0;
}

.dropdown-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 120px 10px;
}

.dropdown-li {
  padding: 10px;
  font-weight: 300;
}

.dropdown-a {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.close-container {
  font-size: 30px;
  color: white;
  padding: 80px 30px;
}

/* Hero section css Mobile */

.hero-container {
  background: url(./Pictures/OpacityBG.png) no-repeat;
  background-color: white;
  background-size: cover;
  padding: 50px 0;
}

.hero-sub-container {
  padding: 20px;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-sub-about-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  padding: 20px 0;
  color: #ec5242;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1.2px;
}

.hero-heading-para {
  border: 3px solid white;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  color: #272a31;
  margin: 20px 0;
}

.hero-about-date {
  font-size: 20px;
  font-weight: 100;
}

.hero-date {
  padding: 20px 0 10px 0;
  font-size: 30px;
  color: #272a31;
}

.hero-second-para {
  font-size: 16px;
  font-weight: 400;
  color: #272a31;
  padding-bottom: 30px;
}

.hero-about-second-para {
  color: #ec5242;
  font-size: 20px;
  font-weight: 400;
}

/* Logo section of about page css Mobile */

.logo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.logo-h1 {
  font-size: 30px;
  font-weight: 400;
}

.logo-hr {
  margin: 20px 0;
  color: #ec5242;
  border: 1px solid #ec5242;
  width: 50px;
}

.logo-p {
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
}

.logo-img {
  width: 200px;
  max-width: 100%;
}

/* Exgraduates section about page mobile css */

.exgraduates-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.exgraduates-img-container {
  display: flex;
  flex-direction: column;
}

.student-pic {
  max-width: 100%;
  margin: 10px 0;
  border: 1px solid #e09087;
  padding: 5px;
  opacity: 0.5;
  filter: hue-rotate(180deg);
}

.exgraduates-p {
  color: #272a31;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 100;
}

.exgraduates-h2 {
  color: #272a31;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.exgraduates-hr {
  border: 1px solid #ec5242;
  width: 50px;
  margin: 20px 0;
}

/* Course Section CSS Mobile */

.courses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./Pictures/pattern_bg.png);
  background-color: #272a31;
  padding: 24px 0 24px 0;
}

.course-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #272a31;
  margin: 10px 0 10px 0;
  background: rgb(255, 255, 255, 0.1);
  padding: 20px;
  gap: 10px;
}

.course-main-head {
  text-align: center;
  color: #d3d3d3;
}

.course-hr {
  width: 60px;
  border: 1px solid #ec5242;
  margin: 10px 0 10px 0;
}

.course-head {
  font-size: 24px;
  flex: 3;
  color: #ec5242;
  text-align: center;
}

.course-para {
  flex: 6;
  color: #d3d3d3;
}

.fa-brands {
  flex: 3;
}

.course-icon {
  color: #d3d3d3;
}

.course-btn {
  cursor: pointer;
  padding: 20px;
  margin-top: 14px;
  background-color: #ec5242;
  border: none;
}

.course-h3 {
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 100;
}

/* Speaker section css mobile */

.speakers-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.speakers-cards {
  display: flex;
  flex-direction: column;
}

.speakers-h2 {
  font-size: 24px;
  color: #272a31;
  font-weight: 500;
}

.speakers-hr {
  margin: 10px 0 20px 0;
  border: 1px solid #ec5242;
  width: 70px;
}

.subCard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.speaker-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 10px;
}

.teachImg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  width: 35vw;
}

.speakh2 {
  font-size: 20px;
  color: #272a31;
  font-weight: 500;
}

.speakh3 {
  padding: 6px 0;
  font-size: 14px;
  color: #ec5242;
  font-weight: 500;
}

.speakp {
  font-size: 14px;
  color: #272a31;
  font-weight: 400;
}

/* Partners section css mobile */

.partner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #d3d3d3;
}

.partner-about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #d3d3d3;
}

.partner-sub-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.partner-img {
  width: 160px;
  height: 40px;
}

.partner-h2 {
  font-size: 36px;
  color: #ec5242;
  font-weight: 700;
  letter-spacing: 2px;
}

.partner-hr {
  background-color: #ec5242;
  padding: 1px;
  width: 60px;
  margin: 6px 0 10px 0;
}

/* footer section css mobile */

.foot-container {
  padding: 0 20px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* height: 150px; */
}

.foot-copyright {
  text-align: center;
  color: #ec5242;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 400;
}

/* desktop version 768px or above */

@media screen and (min-width: 768px) {
  /* header section 1 & 2 desktop css */

  .header-container {
    background-color: #272a31;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 80px;
  }

  .head-nav {
    display: block;
  }

  .head-nav-ul {
    color: #272a31;
    display: flex;
    gap: 27px;
  }

  .head-li {
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    padding-left: 14px;
    color: #ec5242;
  }

  .header-a {
    color: #d3d3d3;
    font-size: 18px;
    font-weight: 100;
  }

  .header-a:hover {
    color: #e09087;
    transition-duration: 0.2s;
  }

  #head-li-enroll {
    color: #ec5242;
    border: 2px solid #ec5242;
    padding-right: 12px;
    padding-left: 12px;
  }

  .head-a {
    color: #272a31;
    padding: 20px 0;
  }

  .head-a:hover {
    color: #ec5242;
    transition-duration: 0.2s;
  }

  #head-a-id {
    color: #ec5242;
  }

  .head-container {
    background-color: white;
    padding: 0 60px;
  }

  .ham-btn {
    display: none;
  }

  .head-logo-pic {
    cursor: pointer;
    display: block;
    border: none;
    width: 0;
  }

  /* hero section desktop css */

  .hero-container {
    padding: 150px;
  }

  .hero-heading {
    font-size: 60px;
  }

  .hero-date {
    font-size: 40px;
  }

  /* Logo section about page css desktop */

  .logo-img {
    width: 600px;
    max-width: 100%;
  }

  /* exgraduates section about page desktop css */

  .exgraduates-container {
    background-color: #272a31;
  }

  .exgraduates-h2 {
    color: white;
  }

  .exgraduates-p {
    color: white;
  }

  .exgraduates-img-container {
    display: flex;
    flex-direction: row;
  }

  .student-pic {
    width: 300px;
  }

  /* Courses section desktop css */

  .courses-container {
    padding: 150px 0 150px 0;
  }

  .course-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 4%;
  }

  .course-btn {
    width: 250px;
  }

  /* speaker section desktop css */

  .speakers-cards {
    display: flex;
    flex-direction: row;
  }

  .teachImg {
    width: 150px;
  }

  /* partner section about page desktop css */

  .partner-about-container {
    display: none;
  }
}
