/* Home page mobile version CSS */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

/* Header Css Mobile */

.head-container {
  width: 100%;
  height: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  /* background-color: rgb(211, 211, 211, 0.3); */
  background-color: rgb(39, 42, 49, 0.9);
}

.ham-btn {
  cursor: pointer;
  width: 20px;
  /* color: #272a31; */
  color: #d3d3d3;
  border: none;
  background-color: rgb(211, 211, 211, 0.1);
}

/* Hero section css Mobile */

.hero-container {
  background-color: white;
  background: url(./Pictures/OpacityBG.png) no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.hero-sub-container {
  padding: 20px;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-heading {
  padding: 20px 0;
  color: #ec5242;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1.2px;
}

.hero-heading-para {
  border: 3px solid white;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  color: #272a31;
}

.hero-date {
  padding: 20px 0 10px 0;
  font-size: 30px;
  color: #272a31;
}

.hero-second-para {
  font-size: 19px;
  font-weight: 600;
  color: #272a31;
  padding-bottom: 30px;
}

/* Course Section CSS Mobile */

.courses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./Pictures/pattern_bg.png);
  background-color: #272a31;
  padding: 24px 0 24px 0;
}

.course-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #272a31;
  margin: 10px 0 10px 0;
  background: rgb(255, 255, 255, 0.1);
  padding: 20px;
  gap: 10px;
}

.course-main-head {
  text-align: center;
  color: #d3d3d3;
}

.course-hr {
  width: 60px;
  border: 1px solid #ec5242;
  margin: 10px 0 10px 0;
}

.course-head {
  font-size: 24px;
  flex: 3;
  color: #ec5242;
  text-align: center;
}

.course-para {
  flex: 6;
  color: #d3d3d3;
}

.fa-brands {
  flex: 3;
}

.course-icon {
  color: #d3d3d3;
}

.course-btn {
  cursor: pointer;
  padding: 20px;
  margin-top: 14px;
  background-color: #ec5242;
  border: none;
}

.course-h3 {
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 100;
}

/* Speaker section css mobile */

.speakers-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.speakers-card {
  display: flex;
  flex-wrap: wrap;
}

.speakers-h2 {
  font-size: 24px;
  color: #272a31;
  font-weight: 500;
}

.speakers-hr {
  margin: 10px 0 20px 0;
  border: 1px solid #ec5242;
  width: 70px;
}

.subCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.speaker-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 10px;
}

.teachImg {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.speakh2 {
  font-size: 20px;
  color: #272a31;
  font-weight: 500;
}

.speakh3 {
  padding: 6px 0;
  font-size: 14px;
  color: #ec5242;
  font-weight: 500;
}

.speakp {
  font-size: 14px;
  color: #272a31;
  font-weight: 400;
}

.teachImg {
  /* height: 18vh; */
  padding: 2% 2% 2% 2%;
  width: 35vw;
}

/* Partners section css mobile */

.partner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #d3d3d3;
}

.partner-sub-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.partner-img {
  width: 160px;
  height: 40px;
}

.partner-h2 {
  font-size: 36px;
  color: #ec5242;
  font-weight: 700;
  letter-spacing: 2px;
}

.partner-hr {
  background-color: #ec5242;
  padding: 1px;
  width: 60px;
  margin: 6px 0 10px 0;
}

/* footer section css mobile */

.foot-container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foot-copyright {
  color: #ec5242;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 400;
}

/* desktop version 768px or above */
@media screen and (min-width: 768px) {
  /* hero section desktop css */

  .hero-container {
    padding: 100px 0;
  }

  /* Courses section desktop css */

  .courses-container {
    padding: 150px 0 150px 0;
  }

  .course-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 4%;
  }

  .course-btn {
    width: 250px;
  }

  /* speaker section desktop css */

  .teachImg-contain {
  }

  .speaker-desc {
  }
}
